// Layout

.listingslab {

  .ll-flex-grid{
    display: flex;
  }
  .ll-flex-grid-col{
    flex: 1;
  }
  .ll-flex-pull-left{
    text-align: left;
  }
  .ll-flex-pull-right{
    text-align: right;
  }
  
}
