// Variables //////
$white: '#fff';
$black: '#000';

// Colour Scheme
$brand-light: '#00b2ee'; // light blue
$brand-mid: '#3299cc'; // mid blue
$brand-dark: '#00688b'; // dark blue
$brand-contrast: '#ffa200'; // orange
$brand-pale: '#8db6cd'; // pale blue
$brand-pale-dark: '#607b8b'; // darker pale blue


// MonoChrome
$mono-light: '#eee'; // light grey
$mono-mid: '#666'; // mid grey
$mono-dark: '#333'; // dark grey
