.ScaffoldPane {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 15px 0 15px 0;
	overflow: overlay;

	> component-header {
		header-detail {
			background-color: var(--active);
			color: #fff;
			font-weight:700;
			padding-left: 5px;
		}
	}


	> pane-content {
		display:flex;
		flex: 1;
		overflow: auto;
		background-color: #fff;
		line-height: 20px;
		padding: 10px;
		padding-right: 0px;
		border-bottom: 1px solid #ccc;
	}

	> component-header > header-content > header-detail {
		background-color: var(--active);
		color: #fff;
	}
}