/**
 * Created by Chris Dorward on 29/01/2017
 * SASS Variables
 */

$hlb-background: #f8f8f8;
$hlb-text: #4a4a4a;
$hlb-titles: $hlb-text;
$hlb-black: #000;
$hlb-white: #fff;

$hlb-yellow: #ffcf00;
$hlb-green: #70b04a;
$hlb-blue: #0096d6;
$hlb-orange: #faa61a;
$hlb-purple: #00447e;

$hlb-cardshadow:  -4px 10px 18px 0 rgba(0, 0, 0, 0.5);

$hlb-hero-bg: #ffcd15;
$hlb-packed-lunch-header-bg: #f28a31;
$hlb-blue-rollover: #14b2f5;
$hlb-white-trans: rgba(255, 255, 255, 0.5);
$hlb-blue-trans: rgba(0, 150, 214, 0.5);
$hlb-green-trans: rgba(112, 176, 74, 0.5);
$hlb-yellow-trans: rgba(255, 207, 0, 0.5);
$hlb-orange-trans: rgba(250, 166, 26, 0.5);
$hlb-purple-trans: rgba(0, 68, 126, 0.5);

$hlb-border: $hlb-purple;
$hlb-breadcrumb: #747679;
$hlb-links: $hlb-breadcrumb;
$hlb-links-hover: $hlb-blue;

$hlb-grey-light: #f4f2ec;
$hlb-grey-dark: #6b6b6b;
$hlb-grey: #9b9b9b;
