.QualityEditor {
	margin-bottom: 10px;
	display: block;

	text-scale-area {
		min-height: 40px;
	}

	> detail-description {
		display: block;
		background-color: #fff;
		margin-left: 40px;
		padding: 10px;
		font-size: 14px;
		border-bottom: 1px solid var(--section-border);
	}
	> editor-detail {
		display: flex;
		flex-wrap: wrap;
		margin-left: 40px;
		background-color: #fff;
		font-size: 14px;
		> detail-item {
			page-break-inside: avoid;
			flex: 1;
			padding: 5px;
			display: block;
			border-bottom: 1px solid var(--section-border);

			> item-value select-box {
				display: block;
				padding: 3px 0;
				:global(.Select-control) {
					height: 40px;
				}
				:global(.Select-placeholder) {
					line-height: 40px;
				}
			}

			> item-value,
			> item-title {
				min-width: 250px;
				padding: 5px;
				display: block;
			}

			> item-title {
				display: flex;
				align-content: center;
				white-space: nowrap;
				> title-label {
					flex: 1;
				}

				> title-action {
					display: flex;
				}
			}
		}
	}
}