.UserPin {
	display: flex;
	cursor: pointer;
	height: 40px;
	width: 166px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0, .2);
	border-width: 0 1px 1px 0;

	> pin- {
		&thumb {
			width: 40px;
			background-color: #ccc;
			display: block;
			> img {
				width: 40px;
				overflow: hidden;
			}
		}

		&detail {
			display: flex;
			flex: 1;
			position: relative;

			> detail-name {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;
				font-size: 12px;
			}

			> detail-actions {
				background-color: rgba(255,255,255, .9);
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				align-items: center;
				justify-content: flex-end;
				display: flex;
				opacity: 0;
				transition: opacity 0.25s ease-out;
			}

			&:hover {
				> detail-actions {
					opacity: 1;
				}
			}
		}
	}

}